{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
</head>
<body>
<div class="container">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Zach's Movie Database</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'default' %}">Top 20</a></li>
            <li><a href="{% url 'movie_list' %}">Movie List </a></li>
            <li><a href="{% url 'rater_list' %}">Rater's List</a></li>
            <li><a href="{% url 'create_rating' %}">Create a Rating</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h2>Top 20 Movies</h2>
                    </div>
                    <div class="panel-body">
                        {% for movie in top_20 %}
                        <p>
                           <a href="{% url 'movie_detail' movie.id %}">
                               {{ movie }}: {{ movie.new_avg_rating|floatformat:4 }}
                           </a>
                        </p>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
    {% endblock %}

</div>
</body>
</html>