{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
</head>
<body>
<div class="container">



    {% block content %}
        <h2>
            Welcome to Zach's Movies!
        </h2>
        <button class='button button-default'>
            <a href="{% url 'rater_list' %}">Rater's List</a>
        </button>
        <button class='button button-default'>
            <a href="{% url 'movie_list' %}">Movies List</a>
            <br>
        </button>

        {{ top_20 }}

    {% endblock %}
</div>
</body>
</html>