{% extends "base.html" %}

{% block content %}

    <h1>Movie List</h1>
    <button class='button button-default'>
        <a href="{% url 'rater_list' %}">Rater's List</a>
    </button>

    <button class='button button-default'>
        <a href="{% url 'default' %}">Home</a>
    </button>
<div class="row">
    {% for movie in movie_list %}
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></h3>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}