{% extends 'base.html' %}

{% block content %}

    <h1>Rater {{ object.id }} Details</h1>


    <br>
    <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">User# {{ object.id }}</h3>
            </div>
            <div class="panel-body">
                <h4>Gender: {{ object.gender }}</h4>
                <h4>Age: {{ object.age }}</h4>
                <h4>Occupation: {{ object.occupation }}</h4>
                <h4>Zip Code: {{ object.zip }}</h4>
                <h4>Average Movie Rating: {{ object.avg_movie_rating|floatformat:4 }}</h4>
                <h4>Top Movies Not Seen Yet:
                    {% for movie in object.top_movies_not_seen %}
                        <p></p>
                    <p>
                       <a href="{% url 'movie_detail' movie.id %}">
                           {{ movie.title }}
                       <a/>
                    </p>
                    {% endfor %}
                </h4>
                <h4>Movies Rated:
                    <p></p>
                   {% for movie in object.rating_set.all %}
                    <p>
                        <a href="{% url 'movie_detail' movie.movie_rated.id %}">
                            {{ movie.movie_rated.title }}: {{ movie.rating }}
                        </a>
                    </p>
                    {% endfor %}
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}